<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="/img/favicon.ico" type="text/img" rel="stylesheet">
</head>
<body>
<h3 style="font-weight: bold; font-size: 44px; color: #259376; text-align: center">Добро пожаловать в личный кабинет администратора</h3>
<br><br><br><br>
<br>
<a style="font-size: 20px" href="/admin/person">Список зарегистрированных пользователей</a>
<br>
<br>
<a style="font-size: 20px" href="/admin/orderList">Просмотр и редактирование оформленных заказов</a>
<br>
<br>
<form method="post" th:action="@{/logout}">
    <a style="font-size: 28px" href="" class="top-header__user _icon-user"><input type="submit" value="Выйти из личного кабинета"></a>
</form>
<br>
<br>
<h3 style="color: #259376; text-align: center; font-size: 38px; font-weight: bold">Каталог товаров</h3>
<main class="page page_inner">
    <div class="page__header">
        <div class="page__container">
            <h1 class="page__title title">В магазине на данный момент продаются следующие товары:</h1>
        </div>
    </div>
<div class="catalog">
<div class="catalog__container">
<div class="catalog__body">
    <form>
        <a href="/admin/product/add" class="catalog__more button button_border">Добавить товар</a>
    </form>
<div class="catalog__content">
<div class="catalog__products">
<div th:each="product : ${products}">
<article class="product-card">
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" class="product-card__image">
        <span class="product-card__item-image-ibg product-card__item-image-ibg-contain">
            <picture><source th:src="'/img/' + ${product.imageList[0].getFileName()}" type="image/webp"><img th:src="'/img/' + ${product.imageList[0].getFileName()}" alt="Картинка"></picture>
        </span>
    </a>
    <div class="product-card__body">
        <h4 class="product-card__title">
            <a th:text="${product.getTitle()}" href="" class="product-card__link-title"></a>
        </h4>
        <div class="product-card__info info-product-card">
            <div th:text="${product.getweight()}" class="info-product-card__size"></div>
            <div th:text="${product.getmaster()}" class="info-product-card__materials"></div>
        </div>
        <div class="product-card__rating rating rating_set">
            <div class="rating__body">
                <div class="rating__active"></div>
                <div class="rating__items">
                    <input type="radio" class="rating__item" value="1" name="rating">
                    <input type="radio" class="rating__item" value="2" name="rating">
                    <input type="radio" class="rating__item" value="3" name="rating">
                    <input type="radio" class="rating__item" value="4" name="rating">
                    <input type="radio" class="rating__item" value="5" name="rating">
                </div>
            </div>
            <div class="rating__value">4.6</div>
            <div class="rating__info">0 отзывов</div>
        </div>
        <div class="product-card__footer">
            <div th:text="'Цена: ' + ${product.getPrice()}" class="product-card__price">р.</div>
            <a href="" class="product-card__compare _icon-compare"></a>
            <a href="" class="product-card__favorite _icon-favorite"></a>
        </div>
        <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}"><button type="button" class="product-card__cart button"><span class="_icon-cart">Редактировать</span></button></a>
        <br>
        <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}"><button type="button" class="product-card__cart button"><span class="_icon-cart">Удалить</span></button></a>
    </div>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
</body>
</html>